
.list-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0px;
  margin: 0 auto;
}

.element-container {
  display: inline-flex;
  list-style-type: none;
  margin-bottom: 4px;
}

.element-container > .adding-button {
  display: inline-flex;
  position: relative;
  height: fit-content;
}

ul.wysiwyg-list {
  padding: 0px;
  list-style-type: none;
}

.render-container {
  width: 70%;
  height: inherit;
}
