
.button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #555555;
  font-size: 22px;
  margin-right: 5px;
  outline: none;
}

.button:hover {
  background-color: darkgoldenrod;
  border: 2px solid darkgoldenrod;
}

.option {
  background-color: #ffdd2d;
  height: 30px;
}

.option-selection {
  /*position: relative;*/
  position: absolute;
  z-index: 10;
  height: 30px;
  /*width: calc(100% - 35px);*/
  background-color: lightgray;
}
