.style-bar {
  display: flex;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: transparent;
  /*border: 0.5px solid black;*/
  padding-bottom: 3px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: inherit;
  border: 2px solid #ffdd2d;
  background-color: #ffdd2d;
  margin-right: 5px;
}

.button:hover {
  background-color: darkgoldenrod;
  border: 2px solid darkgoldenrod;
}

#bold-button {

}
